<section ng-controller="HomeController">
  <div class="container-fluid">
    <h1>HOHHAS</h1>

  </div>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MAGLE" class="text-center" src="modules/core/client/img/brand/logo.png"/>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Modular Adaptive and Gamified Learning Environment
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="https://github.com/fdiazb/magle" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Quick, easy & up to date</h3>
      MAGLE is super simple, your site can be up and running in minutes. No need to install, upgrade or backup
      anything. MAGLE for Schools is automatically updated with the latest version of MAGLE so you receive new features,
      improvements and fixes just as they are released.

      <h3>Create amazing courses</h3>
      Fill your courses with awesome activities to get the most out of your students. MAGLE for Schools includes
      enormous catalog of tools for creating fun and engaging online learning spaces plus additional plugins and
      features.
    </div>

    <div class="col-md-6">
      <h3>Flexible</h3>
      The modular setup of MAGLE means that you can create courses using components like lego blocks, adding or
      removing new activities and resources as you go. Style your site with your own custom configuration and courses.

      <h3> Scalable</h3>
      MAGLE for Schools grows with your needs, we have solutions to suit education environments with up to 500 users,
      and if you
      outgrow our packages we can link you up to a MAGLE Partner for more. You choose what suits you best.
    </div>
  </div>

  <br>Enjoy and create your courses as you want!
  <br>MAGLE Team
</section>
